<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Portfolio</title>
</head>


<body>
 <div class="qobiq"> 
  <div class="frame"> 
     <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
                <img 
                 src="images/profile.svg"
                 alt="profile-image" 
                 width="156px" 
                 height="142px">
            </div>
            <div class="left_1-2"> <%=user.name%> </div>
            <div class="left_1-3"> <%=user.profession%> </div>
            <div class="left-icons">
                <a class="link_href" href="">
                    <div class="icon">
                       <img src="icon/vector-1.svg" alt="icon" class="icon-1" />
                    </div>
                </a>
                <a class="link_href" href="">
                    <div class="icon">
                       <img src="icon/Vector-2.svg" alt="icon" class="icon-1" />
                    </div>
                </a>
                <a class="link_href" href="">
                    <div class="icon">
                       <img src="icon/Vector-3.svg" alt="icon" class="icon-1" />
                    </div>
                </a>
                <a class="link_href" href="">
                    <div class="icon">
                       <img src="icon/Vector-4.svg" alt="icon" class="icon-1" />
                    </div>
                </a>
                <a class="link_href" href="">
                    <div class="icon">
                       <img src="icon/Vector-5.svg" alt="icon" class="icon-1" />
                    </div>
                </a>
                <a class="link_href" href="">
                    <div class="icon">
                       <img src="icon/Vector-6.svg" alt="icon" class="icon-1" />
                    </div>
                </a>
            </div>
          </div>
          <div class="marginer"></div>
          
          <div class="left_2">
            <div class="left_2-1"> 
                <div class="txt-group" >
                    <p class="marked-1">Age:</p>
                     <p class="txt-1">24</p>
                </div> 
            </div>

            <div class="left_2-2"> 
                <div class="txt-group" >
                    <p class="marked-2">Residence:</p>
                     <p class="txt-2">BD</p>
                </div> 
            </div>

            <div class="left_2-3"> 
                <div class="txt-group" >
                    <p class="marked-3">Freelance:</p>
                     <p class="txt-3">Available</p>
                </div> 
            </div>

            <div class="left_2-4"> 
                <div class="txt-group" >
                    <p class="marked-4">Address:</p>
                     <p class="txt-4">Bukhara,Uzbekistan</p>
                </div> 
            </div>
          </div>
          <div class="marginer"></div>
            
            <div class="left_3">
                <h1 class="left_3_header">Languages</h1>
                <div class="left_3-1">
                    <div class="left_3-lang">
                        <p>Uzbek</p>
                        <p>100%</p>
                    </div>
                    <img src="/author/box_images/hundered.svg" alt="">
                </div>
                <div class="left_3-2">
                    <div class="left_3-lang">
                        <p>Russian</p>
                        <p>70%</p>
                    </div>
                    <img src="/author/box_images/eighty.svg" alt="">
                </div>
                <div class="left_3-3">
                    <div class="left_3-lang">
                        <p>English</p>
                        <p>80%</p>
                    </div>
                    <img src="/author/box_images/seventy.svg" alt="">
                </div>
            </div>
          <div class="marginer-last"></div>

          <div class="left_4">
            <h1 class="left_4_header">Languages</h1>
                <div class="left_4-1">
                    <div class="left_4-lang">
                        <p>Html</p>
                        <p>90%</p>
                    </div>
                    <img  src="/author/box_images/hundered.svg"  alt="">
                </div>
                <div class="left_4-2">
                    <div class="left_4-lang">
                        <p>CSS</p>
                        <p>85%</p>
                    </div>
                    <img src="/author/box_images/css85.svg" alt="">
                </div>
                <div class="left_4-3">
                    <div class="left_4-lang">
                        <p>Js</p>
                        <p>80%</p>
                    </div>
                    <img src="/author/box_images/js80.svg" alt="">
                </div>

                <div class="left_4-4">
                    <div class="left_4-lang">
                        <p>PHP</p>
                        <p>75%</p>
                    </div>
                    <img src="/author/box_images/php75.svg" alt="">
                </div>

                <div class="left_4-4">
                    <div class="left_4-lang">
                        <p>WordPress</p>
                        <p>85%</p>
                    </div>
                    <img src="/author/box_images/wordpress85.svg" alt="">
                </div>
          </div>
          <div class="marginer"></div>

          <div class="left_5">
            <h2 class="extra-skills-header">Extra Skills</h2>
            <div class="left_frame-5_skills">
                <img src="images/ExtraSkills-img/extra-skills-img.svg" alt="#">
                <p><%=user.extra_skills[0]%></p>
            </div>
            <div class="left_frame-5_skills">
                <img src="images/ExtraSkills-img/extra-skills-img.svg" alt="#">
                <p><%=user.extra_skills[1]%></p>
            </div>
            <div class="left_frame-5_skills">
                <img src="images/ExtraSkills-img/extra-skills-img.svg" alt="#">
                <p><%=user.extra_skills[2]%></p>
            </div>
            <div class="left_frame-5_skills">
                <img src="images/ExtraSkills-img/extra-skills-img.svg" alt="#">
                <p><%=user.extra_skills[3]%></p>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
       





         <!-- Middle Frame -->
         <div class="midd_frame">
            <!-- midd frame - 1 -->
            <div class="midd_frame-1">
                <!-- intro -->
                <div class="midd_frame-1_intro">
                    <h1 class="intro_title">
                        Doctor neurologists in OHSU Hospital
                    </h1>
                    <p class="intro_desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.
                    </p>
                    <button class="intro_btn">
                        <p class="intro_btn-text">Hire me</p>
                        <img src="btn_icon/Frame.svg" alt="arrow" class="intro_btn-img">
                    </button>
                </div>
                <!-- image -->
                <div class="midd_frame-1_image">
                    <img src="images/your-image.svg" alt="#">
                </div>
            </div>
            <!-- midd frame - 2 -->
             <div class="midd_frame-2">
                <h2 class="midd_frame-2_title">
                    My services
                </h2>
                <p class="midd_frame-2_desc">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor <br> do amet sint. Velit officia consequat duis enim velit mollit. <br> lorem ipsum
                </p>
                <!-- midd frame - 2 Services -->
                 <div class="midd_frame-2_services">
                    <div class="service">
                        <img src="images/Services-img/services-img-1.png" alt="#" class="services_1-img">
                        <h3 class="service_title">Web development</h3>
                        <div class="service_desc">Blog, E-Commerce</div>
                    </div>
                    <div class="service">
                        <img src="images/Services-img/services-img-2.png" alt="#" class="services_1-img">
                        <h3 class="service_title">UI/UX Design</h3>
                        <div class="service_desc">Mobile app, website design</div>
                    </div>
                    <div class="service">
                        <img src="images/Services-img/services-img-3.png" alt="#" class="services_1-img">
                        <h3 class="service_title">Sound Design</h3>
                        <div class="service_desc">Voice Over, Beat Making</div>
                    </div>
                    <div class="service">
                        <img src="images/Services-img/services-img-4.png" alt="#" class="services_1-img">
                        <h3 class="service_title">Game Design</h3>
                        <div class="service_desc">Character Design, Props & Objects</div>
                    </div>
                    <div class="service">
                        <img src="images/Services-img/services-img-5.png" alt="#" class="services_1-img">
                        <h3 class="service_title">Photography</h3>
                        <div class="service_desc">Portrait, product photography</div>
                    </div>
                    <div class="service">
                        <h3 class="service_title-2">Advertising</h3>
                        <div class="service_desc">
                            Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. Vitae <br> nulla diam in ac dictum a urna <br> viverra morbi.
                        </div>
                        <a class="service_link" href="#">Order now ></a>
                    </div>
                 </div>
             </div>
        </div>

        <!-- Right Frame -->
        <div class="right_frame">
            <img class="right_frame-img_contrast" src="images/RightFrame-img/contrast_icon.svg" alt="#">
            <img class="right_frame-img_home" src="images/RightFrame-img/menu-icon-1.svg" alt="#">
            <div class="right_frame-menu">
                <img src="images/RightFrame-img/menu-icon-2.svg" alt="#">
                <img src="images/RightFrame-img/menu-icon-3.svg" alt="#">
                <img src="images/RightFrame-img/menu-icon-4.svg" alt="#">
                <img src="images/RightFrame-img/menu-icon-5.svg" alt="#">
                <img src="images/RightFrame-img/menu-icon-6.svg" alt="#">
            </div>
          </div>
       </div>
   </div>

  
    <div class="pricing-frame">
         
            <div class="pricing-text">
               <h1> Price plans</h1>
               <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
            </div>

            <div class="pricing-uchlik">
                <!-- silver -->
             <div class="pricing-rectangle"> 
                <h1 class="rectangle-header">Silver</h1>
                <p class="rectangle-price">$0.00<span class="rectangle-price-span"> /Hour</span></p>
                <p class="rectangle-p">For most businesses That want to optimize web queries</p>
               <div class="tick-group">
                <p class="tick"> <img src="btn_icon/Check.svg" alt="">UI Design</p>
                <p class="tick"> <img src="btn_icon/Check.svg" alt="">Web development</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">Logo design</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">Seo optimization</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">WordPress integration</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">5 Websites</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">Unlimited user</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">20 gB bandwith</p>
               </div>
               <button class="pricing-rectangle-btn">
                <a href="#">Order Now</a>
               </button>
            </div>
               
                <!-- gold -->
            <div class="pricing-rectangle"> 
                <h1 class="rectangle-header">gold</h1>
                <p class="rectangle-price">$50.00<span class="rectangle-price-span"> /Hour</span></p>
                <p class="rectangle-p">For most businesses That want to optimize web queries</p>
               <div class="tick-group">
                <p class="tick"> <img src="btn_icon/Check.svg" alt="">UI Design</p>
                <p class="tick"> <img src="btn_icon/Check.svg" alt="">Web development</p>
                <p class="tick"><img src="btn_icon/Check.svg" alt="">Logo design</p>
                <p class="tick"><img src="btn_icon/Check.svg" alt="">Seo optimization</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">WordPress integration</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">5 Websites</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">Unlimited user</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">20 gB bandwith</p>
               </div>
               <button class="pricing-rectangle-btn" style="
               border-radius: 30px;
               background: var(--Yellow, #FFB400);
               box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);">
                <a href="#">Order Now</a>
               </button>
            </div>
          
            <!-- diamond -->
            <div class="pricing-rectangle"> 
                <h1 class="rectangle-header">Silver</h1>
                <p class="rectangle-price">$0.00<span class="rectangle-price-span"> /Hour</span></p>
                <p class="rectangle-p">For most businesses That want to optimize web queries</p>
               <div class="tick-group">
                <p class="tick"> <img src="btn_icon/Check.svg" alt="">UI Design</p>
                <p class="tick"> <img src="btn_icon/Check.svg" alt="">Web development</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">Logo design</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">Seo optimization</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">WordPress integration</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">5 Websites</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">Unlimited user</p>
                <p class="isNot"><img src="btn_icon/Close.svg" alt="">20 gB bandwith</p>
               </div>
               <button class="pricing-rectangle-btn">
                <a href="#">Order Now</a>
               </button>
            </div>



            </div>
                
            

    </div>


</div>  
    
</body>


</html>